
.sideComputer{
  height: 310px;
}

.imgComputer {
  width: 250px; 
  height: 250px; 
}


.imgPlayer {
  width: 250px; 
  height: 250px; 
}

@media (max-width: 575.98px) { 
  .sideComputer {
    height: 130px;
  }
  .imgPlayer {
    width: 70px;
    height: 70px;
  }
  .imgComputer {
    width: 70px;
    height: 70px;
  }
 }